openapi: 3.0.3
info:
  title: Closed Test Ingest API
  description: |
    HTTP contract for Android closed-test-sdk: handshake, token refresh, batched events.
    Human-readable semantics and PII rules: `spec.md` in repo root.
  version: 0.2.17

servers:
  - url: https://api.groundspaceteam.com
    description: Production API host (AndroidServer); ingest routes may not be implemented yet — see AndroidServer/docs/closed-test-ingest-status.md.

tags:
  - name: ingest
    description: SDK-facing endpoints

paths:
  /v1/init:
    post:
      tags: [ingest]
      summary: Handshake; issue session tokens
      operationId: postInit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequest'
      responses:
        '200':
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'

  /v1/session/refresh:
    post:
      tags: [ingest]
      summary: Rotate session token using refresh token
      operationId: postSessionRefresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: New token pair
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'

  /v1/events:
    post:
      tags: [ingest]
      summary: Upload batch of events
      operationId: postEvents
      security:
        - bearerAuth: []
      parameters:
        - name: X-Request-Id
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventsBatchRequest'
      responses:
        '200':
          description: Batch accepted
        '401':
          description: Invalid or expired session token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'

  /v1/tester-contact:
    post:
      tags: [ingest]
      summary: Tester self-report contact (e.g. Telegram) for organizer roster
      operationId: postTesterContact
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TesterContactRequest'
      responses:
        '200':
          description: Contact saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TesterContactResponse'
        '401':
          description: Invalid or expired session token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Ingest key not linked to a ProofFlow test
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Invalid contact value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    InitRequest:
      type: object
      description: |
        **Advanced:** set `publishable_key` (≥8 chars) — server resolves `SHA-256` of the raw key.
        **Base:** omit `publishable_key` (or empty) and send `package_name`, `build_type`, `version_name`, `version_code`
        (must match a row seeded via `CLOSED_TEST_INGEST_BASE_IDENTITIES` on the server; hash is
        `SHA-256("base:" + package + "|" + build_type + "|" + version_name + "|" + version_code)`).
        If both advanced and base fields are sent, advanced wins.
      required:
        - device_id
        - sdk_version
        - app_version
        - os
        - os_version
        - package_name
        - build_type
        - version_name
        - version_code
      properties:
        publishable_key:
          type: string
          description: Optional when using Base ingest; required for Advanced key policy.
        package_name:
          type: string
          description: Host applicationId (e.g. from Context.getPackageName()).
        build_type:
          type: string
          description: SDK sends `debug` or `release` from ApplicationInfo.FLAG_DEBUGGABLE.
        version_name:
          type: string
        version_code:
          type: integer
          format: int64
        device_id:
          type: string
          format: uuid
        sdk_version:
          type: string
        app_version:
          type: string
          description: Typically same as version_name; kept for backward compatibility.
        os:
          type: string
          enum: [android]
        os_version:
          type: string
        test_session_id:
          type: string
          nullable: true
        tester_id:
          type: string
          nullable: true
        install_referrer:
          type: string
          nullable: true
          maxLength: 2048
          description: |
            Play Install Referrer string when install came from a tracked Play link
            (`referrer=df_{token}`). Optional; SDK reads once per install and does not block init on failure.

    InitResponse:
      type: object
      required:
        - session_token
        - refresh_token
        - session_expires_at
        - refresh_expires_at
      properties:
        session_token:
          type: string
        refresh_token:
          type: string
        session_expires_at:
          type: string
          description: RFC 3339 timestamp
        refresh_expires_at:
          type: string
          description: RFC 3339 timestamp
        server_heartbeat_interval_ms:
          type: integer
          format: int64
          nullable: true
        ingest_enabled:
          type: boolean
          nullable: true
          description: When false, SDK should stop sending events until policy changes
        proofflow_test_id:
          type: string
          nullable: true
          description: Optional ProofFlow test id when ingest is tied to a ProofFlow test (PF-TEST deep link target).
        organizer_telegram:
          type: string
          nullable: true
          description: Organizer Telegram username (no @) when linked via Dozenflow bot; for tester feedback from anyapp SDK.

    RefreshRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string

    EventsBatchRequest:
      type: object
      required:
        - batch_id
        - sent_at
        - events
      properties:
        batch_id:
          type: string
          format: uuid
        sent_at:
          type: string
          description: RFC 3339 when batch was built (client clock)
        events:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/Event'

    Event:
      type: object
      description: >
        One event object as produced by the SDK. Required fields vary by `type`;
        see `spec.md` §4–6. Common required keys include type, occurred_at, monotonic_ms,
        device_id, sdk_version, app_version, os, os_version, event_id.
      additionalProperties: true

    TesterContactRequest:
      type: object
      required:
        - contact_type
        - contact_value
      properties:
        contact_type:
          type: string
          enum: [telegram]
        contact_value:
          type: string
          description: Telegram username without @ (5–32 chars)

    TesterContactResponse:
      type: object
      properties:
        id:
          type: string
        contact_type:
          type: string
        contact_value:
          type: string
        display_label:
          type: string
          nullable: true
        open_url:
          type: string
          nullable: true

    ErrorBody:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: e.g. invalid_request, unauthorized, invalid_publishable_key, rate_limited
            message:
              type: string
            request_id:
              type: string
              nullable: true
